1) str.capitalize() Capitalizes the first character.

In [12]:
str="python"
str.capitalize()

'Python'

In [9]:
string='java'
string.capitalize
print(string)

java

2)str.casefold()
Converts to lowercase (more aggressive than lower()).

In [22]:
str="PyThOnjava" 
print(str.casefold())
str.casefold()

pythonjava

'pythonjava'

3)str.center(width[, fillchar]) 
Centers the string within the specified width.

In [39]:
str="monkey is a wild animal"
print(str.center(45))

           monkey is a wild animal

In [38]:
text = "Hello"
result = text.center(50)
print(result)

                      Hello

In [50]:
text = "Python"
result = text.center(11, '@')
print(result)

@@@Python@@

4) str.count(sub[, start[, end]])
   Returns the number of non-overlapping occurrences of a substring.

In [55]:
value="mango man banana nana"
print(value.count("man"))

2

In [56]:
text = "hello world, hello Python"
count = text.count("hello")
print(count)  # Output: 2

2

In [60]:
text = "banana banana banana"
count = text.count("banana",0, 10)
print(count)  # Output: 1

1

5)str.encode(encoding="utf-8", errors="strict")
Returns encoded version of the string.

In [66]:
text = "Hello, World!"
encoded_text = text.encode()  # Default UTF-8 encoding
print(encoded_text)  # Output: b'Hello, World!'

b'Hello, World!'

In [67]:
text = "नमस्ते"
encoded_text = text.encode('utf-8')
print(encoded_text)  # Output: b'\xe0\xa4\xa8\xe0\xa4\xae\xe0\xa4\xb8\xe0\xa5\x8d\xe0\xa4\xa4\xe0\xa5\x87'

b'\xe0\xa4\xa8\xe0\xa4\xae\xe0\xa4\xb8\xe0\xa5\x8d\xe0\xa4\xa4\xe0\xa5\x87'

In [73]:
text = "Hello, नमस्ते!"
encoded_text = text.encode('ascii', errors='replace')
print(encoded_text)  # Output: b'Hello, ??????!'

b'Hello, ??????!'

In [71]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

6)str.endswith(suffix[, start[, end]])
Returns True if the string ends with the specified suffix.

In [74]:
text = "hello world"
print(text.endswith("world"))  # Output: True
print(text.endswith("hello"))  # Output: False

True
False

In [80]:
text = "hello world"
print(text.endswith("world", 0, 11))  # Output: True
print(text.endswith("hello", 5,11))   # Output: false

True
False

7)str.expandtabs(tabsize=8)
Replaces tabs with spaces.

In [84]:
text = "Hello\tWorld"
result = text.expandtabs(4)
print(result)  # Output: "Hello   World"

Hello   World

In [88]:
text = "A\tB\tC"
result = text.expandtabs(2)
print(result)  # Output: "A B C"

A B C

In [94]:
text = "Hello\tWorld"
result = text.expandtabs(1)
print(result)  # Output: "Hello   World"

Hello World

8)str.find(sub[, start[, end]])
Returns the lowest index of the substring; returns -1 if not found.

In [100]:
string=("peacock is our national bird")
print(string.find("our"))

11

In [101]:
text = "Hello, world! Hello again!"
result = text.find("Hello", 8)  # Start searching from index 8
print(result)  # Output: 14

14

9)str.format(*args, **kwargs)
Formats string using the specified arguments.

In [102]:
name = "Alice"
age = 25
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)
# Output: My name is Alice and I am 25 years old.

My name is Alice and I am 25 years old.

In [103]:
# Positional
formatted_string = "I have {} apples and {} oranges.".format(5, 3)
print(formatted_string)
# Output: I have 5 apples and 3 oranges.

# Keyword
formatted_string = "My favorite fruit is {fruit}.".format(fruit="mango")
print(formatted_string)
# Output: My favorite fruit is mango.

I have 5 apples and 3 oranges.
My favorite fruit is mango.

10)str.format_map(mapping)
Formats string using a mapping.

In [110]:
data = {'name': 'Alice', 'age': 25}
result = "My name is {name} and I am {age} years old.".format_map(data)
print(result)
# Output: My name is Alice and I am 25 years old.

My name is Alice and I am 25 years old.

11)str.index(sub[, start[, end]])
Like find() but raises ValueError if not found.

In [119]:
string="monkey is donkey"
print(string.index("is",3,20))

7

In [121]:
string="python is an easy language"
print(string.index("easy"))

13

12)str.isalnum()
Returns True if all characters are alphanumeric.

In [122]:
# Example 1: Alphanumeric string
s1 = "Python123"
print(s1.isalnum())  # Output: True

# Example 2: String with spaces
s2 = "Python 123"
print(s2.isalnum())  # Output: False (contains a space)

# Example 3: String with special characters
s3 = "Python@123"
print(s3.isalnum())  # Output: False (contains '@')

# Example 4: Empty string
s4 = ""
print(s4.isalnum())  # Output: False (empty string)

# Example 5: Numeric string
s5 = "12345"
print(s5.isalnum())  # Output: True

True
False
False
False
True

In [126]:
v1="12345"
print(v1.isalnum())
type(v1)

True

str

13)str.isalpha()
Returns True if all characters are alphabetic.

In [128]:
# Example 1: All alphabetic characters
print("Hello".isalpha())  # Output: True

# Example 2: Contains numbers
print("Hello123".isalpha())  # Output: False

# Example 3: Contains spaces
print("Hello World".isalpha())  # Output: False

# Example 4: Empty string
print("".isalpha())  # Output: False

# Example 5: Non-English alphabetic characters
print("नमस्त".isalpha())  # Output: False

True
False
False
False
False

14)str.isascii()
Returns True if all characters are ASCII.

In [129]:
# Example 1: All ASCII characters
text1 = "Hello, World!"
print(text1.isascii())  # Output: True

True

In [130]:
# Example 2: Contains non-ASCII characters
text2 = "नमस्ते"  # Hindi text
print(text2.isascii())  # Output: False

# Example 3: Empty string
text3 = ""
print(text3.isascii())  # Output: True (empty string is considered ASCII)

False
True

15)str.isdecimal()
Returns True if all characters are decimal characters.

In [136]:
# Example 1: All decimal characters
print("12345".isdecimal())  # Output: True

True

In [138]:
my_string1 = "123456"
my_string2 = "12.345"
my_string3 = "hello"

print(my_string1.isdecimal())  # Output: True
print(my_string2.isdecimal())  # Output: False (contains a dot)
print(my_string3.isdecimal())  # Output: False (contains alphabetic characters)

True
False
False

16)str.isdigit()
Returns True if all characters are digits.

In [139]:
my_string1 = "12345"
my_string2 = "12.345"
my_string3 = "hello"

print(my_string1.isdigit())  # Output: True
print(my_string2.isdigit())  # Output: False (contains a dot)
print(my_string3.isdigit())  # Output: False (contains alphabetic characters)

True
False
False

17)str.isidentifier()
Returns True if string is a valid identifier.

In [140]:
# Valid identifiers
print("variable_name".isidentifier())  # Output: True
print("_privateVar".isidentifier())    # Output: True
print("Var123".isidentifier())         # Output: True

# Invalid identifiers
print("123Var".isidentifier())         # Output: False (starts with a digit)
print("var-name".isidentifier())       # Output: False (contains a hyphen)
print("if".isidentifier())             # Output: True (but it's a keyword, so not usable as an identifier)
print(" ".isidentifier())              # Output: False (contains a space)

True
True
True
False
False
True
False

18)str.islower()
Returns True if all characters are lowercase.

In [141]:
# Example 1: All lowercase
print("hello".islower())  # Output: True

# Example 2: Mixed case
print("Hello".islower())  # Output: False

# Example 3: Non-alphabetic characters
print("hello123".islower())  # Output: True

# Example 4: No alphabetic characters
print("123!".islower())  # Output: False

# Example 5: Empty string
print("".islower())  # Output: False

True
False
True
False
False

19)str.isnumeric()
Returns True if all characters are numeric.

In [142]:
# Example 1: Numeric strings
print("123".isnumeric())  # Output: True

# Example 2: Non-numeric strings
print("123abc".isnumeric())  # Output: False

# Example 3: Unicode numeric characters
print("²".isnumeric())  # Output: True

# Example 4: Decimal points or negative signs
print("-123".isnumeric())  # Output: False
print("3.14".isnumeric())  # Output: False

True
False
True
False
False

20)str.isprintable()
Returns True if all characters are printable.

In [143]:
# Example 1: Printable string
text = "Hello, World!"
print(text.isprintable())  # Output: True

# Example 2: String with non-printable characters
text = "Hello\nWorld"
print(text.isprintable())  # Output: False

# Example 3: Empty string
text = ""
print(text.isprintable())  # Output: True

# Example 4: String with special characters
text = "123@#$%^&*()"
print(text.isprintable())  # Output: True

True
False
True
True

21)str.isspace()
Returns True if all characters are whitespace.

In [144]:
# Example 1: String with spaces
s1 = "   "
print(s1.isspace())  # Output: True

# Example 2: String with tabs and newlines
s2 = "\t\n"
print(s2.isspace())  # Output: True

# Example 3: String with non-whitespace characters
s3 = "Hello"
print(s3.isspace())  # Output: False

# Example 4: Empty string
s4 = ""
print(s4.isspace())  # Output: False

True
True
False
False

22)str.istitle()
Returns True if the string is titlecased.

In [145]:
# Example 1: Title case string
text1 = "Hello World"
print(text1.istitle())  # Output: True

# Example 2: Not title case
text2 = "hello world"
print(text2.istitle())  # Output: False

# Example 3: Mixed case
text3 = "Hello world"
print(text3.istitle())  # Output: False

# Example 4: Non-alphabetic characters
text4 = "123 Hello World!"
print(text4.istitle())  # Output: True

# Example 5: Empty string
text5 = ""
print(text5.istitle())  # Output: False

True
False
False
True
False

23)str.isupper()
Returns True if all characters are uppercase.

In [146]:
# Example 1: All uppercase letters
text = "HELLO"
print(text.isupper())  # Output: True

# Example 2: Mixed case
text = "Hello"
print(text.isupper())  # Output: False

# Example 3: Non-alphabetic characters
text = "123!"
print(text.isupper())  # Output: False

# Example 4: Uppercase with non-alphabetic characters
text = "HELLO123!"
print(text.isupper())  # Output: True

# Example 5: Empty string
text = ""
print(text.isupper())  # Output: False

True
False
False
True
False

24)str.join(iterable)
Joins elements of an iterable with the string as a separator.

In [149]:
words = ["Hello", "world", "Python"]
result = " ".join(words)
print(result)  # Output: "Hello world Python"

Hello world Python

25)str.ljust(width[, fillchar])
Left-justifies the string.

In [153]:
text = "Hello"
result = text.ljust(20,"@")
print(result)  # Output: 'Hello     '

Hello@@@@@@@@@@@@@@@

26)str.lower()
Converts to lowercase.

In [154]:
string="PYTHON"
print(string.lower())

python

27)str.lstrip([chars])
Removes leading characters (default: whitespace).

In [155]:
text = "   Hello, World!"
result = text.lstrip()
print(result)  # Output: "Hello, World!"

Hello, World!

In [156]:
text = "###Python###"
result = text.lstrip("#")
print(result)  # Output: "Python###"

Python###

28)str.maketrans(x, y=None, z=None)
Returns a translation table.

In [157]:
table= string.maketrans("is","at")
"this is a cat".translate(table)

'that at a cat'

In [158]:
# Remove 'a', 'b', and 'c'
translation_table = str.maketrans("", "", "abc")
result = "abcde".translate(translation_table)
print(result)  # Output: de

de

29)str.partition(sep)
Splits the string at the first occurrence of sep.

In [161]:
text = "Hello, world!"
result = text.partition(", ")
print(result)
# Output: ('Hello', ', ', 'world!')

('Hello', ', ', 'world!')

In [162]:
text = "Hello world!"
result = text.partition(", ")
print(result)
# Output: ('Hello world!', '', '')

('Hello world!', '', '')

In [163]:
text = "apple-banana-cherry"
result = text.partition("-")
print(result)
# Output: ('apple', '-', 'banana-cherry')

('apple', '-', 'banana-cherry')

30)str.removeprefix(prefix)
Removes the specified prefix if present.

In [164]:
text = "HelloWorld"
result = text.removeprefix("Hello")
print(result)  # Output: "World"

World

In [165]:
text = "HelloWorld"
result = text.removeprefix("Hi")
print(result)  # Output: "HelloWorld"

HelloWorld

In [166]:
text = "HelloWorld"
result = text.removeprefix("")
print(result)  # Output: "HelloWorld"

HelloWorld

31)str.removesuffix(suffix)
Removes the specified suffix if present.

In [169]:
text="Helloworld"
result=text.removesuffix("world")
print(result)

Hello

32)str.replace(old, new[, count])
Returns a copy with all occurrences of a substring replaced.

In [170]:
text = "Hello, world!"
result = text.replace("world", "Python")
print(result)  # Output: Hello, Python!

Hello, Python!

In [171]:
text = "apple apple apple"
result = text.replace("apple", "orange", 2)
print(result)  # Output: orange orange apple

orange orange apple

In [172]:
text = "Python is fun. python is powerful."
result = text.replace("python", "awesome")
print(result)  # Output: Python is fun. awesome is powerful.

Python is fun. awesome is powerful.

33)str.rfind(sub[, start[, end]])
Returns the highest index of the substring.

In [173]:
text = "hello world, hello universe"
index = text.rfind("hello")
print(index)  # Output: 13 (rightmost "hello")

13

In [175]:
text = "chello world, hello universe"
index = text.rfind("hello", 0, 12)
print(index)  # Output: 0 (search limited to "hello world")

1

34)str.rindex(sub[, start[, end]])
Like rfind() but raises ValueError if not found.

In [176]:
text = "hello world, hello universe"
index = text.rindex("hello")
print(index)  # Output: 13 (last occurrence of "hello")

13

In [177]:
text = "hello world, hello universe"
index = text.rindex("hello", 0, 12)
print(index)  # Output: 0 (search is limited to the range 0-12)

0

35)str.rjust(width[, fillchar])
Right-justifies the string.

In [178]:
text = "Hello"
result = text.rjust(10)
print(result)  # Output: "     Hello"

     Hello

In [179]:
text = "Hello"
result = text.rjust(10, '-')
print(result)  # Output: "-----Hello"

-----Hello

36)str.rsplit(sep=None, maxsplit=-1)
Splits the string from the right.

In [180]:
text = "apple,banana,cherry"
result = text.rsplit(",", 1)
print(result)  # Output: ['apple,banana', 'cherry']

['apple,banana', 'cherry']

In [181]:
text = "a:b:c:d:e"
result = text.rsplit(":", 2)
print(result)  # Output: ['a:b:c', 'd', 'e']

['a:b:c', 'd', 'e']

37)str.rstrip([chars])
Removes trailing characters (default: whitespace).

In [182]:
text = "Hello World   "
cleaned = text.rstrip()
print(cleaned)  # Output: "Hello World"

Hello World

In [184]:
text = "banana,,,,,ssqqqww....."
cleaned = text.rstrip(",qsw.")
print(cleaned)  # Output: "banana"

banana

38)str.split(sep=None, maxsplit=-1)
Splits the string.

In [185]:
string = "Rohit tyagi@gmail.@com"
string.split(" ")

['Rohit', 'tyagi@gmail.@com']

In [186]:
text = "Hello world! Welcome to Python."
result = text.split()
print(result)  # Output: ['Hello', 'world!', 'Welcome', 'to', 'Python.']

['Hello', 'world!', 'Welcome', 'to', 'Python.']

39)str.splitlines([keepends])
Splits at line breaks.

In [190]:
text = "Hello\nWorld\nPython"
lines = text.splitlines()
print(lines)  # Output: ['Hello', 'World', 'Python']

['Hello', 'World', 'Python']

40)str.startswith(prefix[, start[, end]])
Returns True if the string starts with the prefix.

In [191]:
string="python"
print(string.startswith("p"))

True

41)str.strip([chars])
Removes leading and trailing characters.

In [192]:
text = "   Hello, World!   "
result = text.strip()
print(result)  # Output: "Hello, World!"

Hello, World!

In [193]:
text = "###Welcome###"
result = text.strip("#")
print(result)  # Output: "Welcome"

Welcome

In [194]:
text = "abcHelloabc"
result = text.strip("abc")
print(result)  # Output: "Hello"

Hello

42)str.swapcase()
Swaps case of all characters.

In [195]:
string="Hello World"
print(string.swapcase())

hELLO wORLD

43)str.title()
Returns a titlecased version of the string.

In [196]:
text = "hello world! python is amazing."
formatted_text = text.title()
print(formatted_text)

Hello World! Python Is Amazing.

44)str.translate(table)
Returns a translated string.

In [197]:
# Create a translation table
table = str.maketrans("aeiou", "12345")
result = "hello world".translate(table)
print(result)  # Output: h2ll4 w4rld

h2ll4 w4rld

45)str.upper()
Converts all characters to uppercase.

In [198]:
string="python"
print(string.upper())

PYTHON

46)str.zfill(width)
Pads the string on the left with zeros.

In [199]:
s = "42"
print(s.zfill(5))  # Output: "00042"

00042

In [200]:
s = "12345"
print(s.zfill(3))  # Output: "12345" (unchanged)

12345